*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
}
.container .header {
    width: 100%;
    height: 3cm;
    
    background-color: blue;
   
    
   

}
.container .frofile {
    width: 100%;
    height: 1cm;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
   color: white;
    
}
.container .frofile .none {
    display: inline;
    
    width: 16cm;
    
}
.header .frofile p {
    display: inline;

    width: 5cm;
    padding-right: 1cm;
    
    
}
.container .frofile p i {
    margin-left: 1cm;
}
.container img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    /* border: 1px solid black; */
   

}
.contact {
    width: 100%;
    height: 1cm;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: blue;
    
    
}
.contact h2 {
    margin-left: 10px;
    margin-right: 11cm;
}
.contact button {
    margin-right: 0.5cm;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background: blue;
    padding: 2px 2px;
}
.taskbar {
    width: 100%;
    border-bottom: 1px solid black;
    height: 1cm;
    display: flex;
    justify-content: flex-start;
    
}
.taskbar a  {
    height: 0.78cm;
    text-decoration: none;
    margin: 10px 10px;
    color: white;
}
.taskbar .user {
    border-bottom: 4px solid white;
}
.body {
    width: 100%;
    height: 6cm;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: azure;
    
}
.body .search {
    background-color: antiquewhite;
    width: 85%;
    height: 1cm;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 0.5cm;
    
}
.body .search #kinh {
   margin-right: 0.5cm;
}
input {
    width: 10cm;
    margin-left: 10px;
    margin-right: 55px;
    border: 1px solid black;
    text-decoration: none;
}
.search button {
    
    background-color: blue;
    color: white;
    padding: 2px 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    outline: none;

}
.body .result {
    width: 85%;
    height: 4cm;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}


